* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { padding: revert;}

body {
    font-family: 'open sans';
}
.oculto { display: none !important; }
.mostrar { display: block;  
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */ 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.contenedor {
    padding: 15px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  

.titulo {
    
    font-size: 30px;
    text-align: left;
    margin-bottom: 60px;
    width: auto; /* 386px */
    height: auto; /* 78px */
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #651D32) /* {"name":"Colores gobierno 3"} */;
    font-size: 65px;
    letter-spacing: 0px;
    line-height: 1.2; } 


    

.calendario{
    width: auto;
    height: auto;
    
  
}
.pdf{
    text-align: center;
    width: 20%;
    height: 20%;
  
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #651d32;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .button-modal{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color:#ffffff;       
}
  .close {
     
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #651d32;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #334d7a;
    color: white;
  }


.button1 {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color:#651D32;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    margin-bottom: 10px;
    
    }
    .botones1{
        padding-top:130px;
        }
    .button {
        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        border-width: 3px;
        border-style: solid;
        border-radius:35px;
        }
    .btn-green { background-color: greenyellow; color: hotpink; }


    iframe { width: 850px; height: 400px; }

    
.aprenderan {
    
  
        width: 265px;
        height: 47px;
        background-color: var(--token-e413febd-257e-4395-839e-4cb077ac5038, #831c3f);
        overflow: visible;
      }
.aprenderantext{
    
        width: auto; /* 273px */
        height: auto; /* 35px */
        overflow: visible;
        white-space: pre;
        font-weight: 500;
        font-style: normal;
        
        color: #ffffff;
        font-size: 29px;
        letter-spacing: 0px;
        line-height: 1.2;
      }
  
.h3{
        width: auto; /* 1220px */
        height: auto; /* 50px */
        overflow: visible;
        white-space: pre;
        font-weight: 500;
        font-style: normal;
        color: var(--token-cc83342a-1568-43db-8ac9-202374866561, #15473c) /* {"name":"Colores gobierno 1"} */;
        font-size: 35px;
        letter-spacing: 0px;
        line-height: 1.2;
      
}
.logonav{
    width: 180px;
    padding: 5px 0px 0 10px;
}
/* Header */

header {
    width: 100%;
    height: 100%;
    background: #bc4e9c;
    /* fallback for old browsers */
    background:  url(../img/fondoregistro.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url(../img/fondoregistro.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 25px 25px 0 0;
    width: 100%;
     height: 70px;
     background-color: var(--token-cc83342a-1568-43db-8ac9-202374866561, #651d32);
     overflow: visible;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    text-align: left;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
    
}

header .textos-header{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.amarillo{
    
        width: 100%;
        height: 33px;
        background-color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #334d7a);
        color:#fff;
        overflow: visible;
        position: relative; display: flex;
        
        flex-direction: column;
        
}
.amarillotext {
    width: auto; /* 471px */
    height: auto; /* 24px */
    overflow: visible;
    white-space: pre;
    font-weight: 600;

    color:#ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
  }
.amarillo2{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top:100px;
    
}
.amarillo-foot{
    width: 100%;
    height: 25px;
    background-color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #334d7a);
    overflow: visible;
    position: relative; display: flex;
    text-align: left;
    flex-direction: column;
    
}
.verdenav{
    text-align: center;
    padding: 30px 50px 0 0;
    width: 100%;
    min-height: 70px;
    height: auto;
     background-color: var(--token-cc83342a-1568-43db-8ac9-202374866561, #651d32);
     overflow: visible;
     

}
.verde-text1{
    width: auto; /* 508px */
    height: auto; /* 26px */
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 1.2;
      
}
.wrapper > div { font-size: calc(1em + 1vw); font-weight: 700; color: #ffffff;  font-style: normal; letter-spacing: 0px; line-height: 1.2; margin-bottom: 10px; font-size: 15px;}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 50%;
    bottom: 100%x;
  
}
.portafolio1{
    background: #f2f2f2;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    bottom: 1150px;
    text-align: center;

}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imgbaner{
    width: 100%;
    height: 30%;

}
.imginteractiva{
    width: 100%;
    height: 30%;


}
.imagen-port{
    width: 14%;
    color:white;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 14%;
}
.imagen-port1{
    width: 30%;
    color:rgb(255, 255, 255);
    margin-bottom: 34px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(255, 250, 250, 0.5);
    height: 50%;
    text-align: center;
}

.imagen-port > img{
    width: 100%;
   
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: rgba(184, 117, 17, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
    text-align: center;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
    
}

.cards .card{
  
    background-color: #f5f5f5;
    width: 100%;
    
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    
}

.cards .card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 8px solid #fff;
    display: block;
    align-items: center;
}

.cards .card > .contenido-texto-card{
    width: 90%;
    text-align: center;
    color: rgb(68, 68, 68);
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.servicio-ind{
    width: 100%;
    text-align: justify;
    
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #651D32;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
 
        width: 100%;
        height: auto;
        background-color: #dedede;
        overflow: visible;
      }


.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}
.imagen-about-usa{
    
    justify-content: left;
   
}


.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;


}



.imagen5{
    width: 70%;  
    position: relative; 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    
}
.imagen6{
    width: 80%;  
    position: relative; 
    align-items: center; 
    flex-direction: column;
    text-align: center;
    
}
.btn-img { cursor:pointer;}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .calendario{
    width: auto;
    height: auto; }

    
        .imagen-port{
    
            width: 8%;
            color:white;
            margin-bottom: 30px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
            height: 14%;
        }
        .imagen-port1{
            width: 30%;
            color:rgb(255, 255, 255);
            margin-bottom: 34px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px 0 rgba(255, 250, 250, 0.5);
            height: 50%;
            text-align: center;
        }




.botones1{
    padding-top:30px;
    }
    
.titulo {
    
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    width: auto; /* 386px */
    height: auto; /* 78px */
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
   
    color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #d41354) /* {"name":"Colores gobierno 3"} */;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1.2;
      
}
iframe { width: 250px; height: 280px; }
    .amarillo{
    
        width: 100%;
        height: 33px;
        background-color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #d41354);
        color:#fff;
        overflow: visible;
        position: relative; display: flex;
        
        flex-direction: column;
        
}

.amarillotext {
    width: auto; /* 471px */
    height: auto; /* 24px */
    overflow: visible;
    white-space: pre;
    font-weight: 600;

    color:#15473c;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
  }
.amarillo2{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top:50px;
    
}
.amarillo-foot{
    width: 100%;
    height: 25px;
    background-color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f,) ;
    overflow: visible;
    position: relative; display: flex;
    text-align: left;
    flex-direction: column;
    
}
.verdenav{
    text-align: center;
    padding: 30px 50px 0 0;
    width: 100%;
     background-color: var(--token-cc83342a-1568-43db-8ac9-202374866561, #651D32);
     overflow: visible;
     

}
.verde-text1{
    width: auto; /* 508px */
    height: auto; /* 26px */
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 1.2;
       }
      
.imagen5{
        width: 100%;  
        position: relative; 
        align-items: center; 
        flex-direction: column;
        text-align: center;
        
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    .portafolio1{
        background: #f2f2f2;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        bottom: 1000px; }
     
        .pdf{
            text-align: center;
            width: 100%;
            height: 100%;
          
        
    }
    .imagen-port{
        width: 100%;
        color:white;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        height: 100%;
    }
    .imagen-port1{
        width: 100%;
        color:rgb(255, 255, 255);
        margin-bottom: 34px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(255, 250, 250, 0.5);
        height: 100%;
        text-align: center;
     }
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
    .calendario{
        width: auto;
        height: auto;
      
    
    }
    embed{
        width: 350px;
        height: 400px;
        text-align: center ; 
    }


    /* ABOUT US */
    .h3{
        width: auto; /* 1220px */
        height: auto; /* 50px */
        overflow: visible;
        white-space: pre;
        font-weight: 500;
        font-style: normal;
        color: var(--token-cc83342a-1568-43db-8ac9-202374866561, #651D32) /* {"name":"Colores gobierno 1"} */;
        font-size: calc(1em + 1vw);
        letter-spacing: 0px;
        line-height: 1.2;
       }

  
       
    .amarillo{
    
        width: 100%;
        height: 33px;
        background-color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #651D32);
        color:#fff;
        overflow: visible;
        position: relative; display: flex;
        
        flex-direction: column;
        
    }
    
.amarillotext {
    width: auto; /* 471px */
    height: auto; /* 24px */
    overflow: visible;
    white-space: pre;
    font-weight: 600;

    color:#651D32;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 1.2;
  }

  
.amarillo2{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top:50px;
    
}
.amarillo-foot{
    width: 100%;
    height: 25px;
    background-color: var(--token-772d0cd9-b632-443a-8d96-c2312b86b16f, #651D32);
    overflow: visible;
    position: relative; display: flex;
    text-align: left;
    flex-direction: column;
    
}
.verdenav{
    text-align: center;
    padding: 30px 5px 0 5px;
    width: 100%;
     background-color: var(--token-cc83342a-1568-43db-8ac9-202374866561, #651D32);
     overflow: visible;
     

}
.verde-text1{
    width: auto; /* 508px */
    height: auto; /* 26px */
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 1.2;
       
 }
    .imagen5{
        width: 100%;  
        position: relative; 
        align-items: center; 
        flex-direction: column;
        text-align: center;
        
    }

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 55%;
    }

    /* Clients */

    .cards .card{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 55px;
    }

    .cards .card img{
        margin-top: 5%;
        width: 70%;
        height: 50%;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
      
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
   
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
    .img-final{ width: 100%; }
    
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        font-size: 10px;
        
      }
}